<a href="https://colab.research.google.com/github/FraH90/pyexamples/blob/main/00-PythonIntro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables and strings

In [9]:
# Variable declaration and basic math expressions;
# Print a statement to terminal using print() function and f-strings
a = 21
b = 7
c1 = a + b
c2 = a - b
c3 = a * b
c4 = a / b
print(f'a+b = {c1}, a-b={c2}, a*b={c3}, a/b={c4}')

# Another statement example
# OSS: Strings can be declared using double quotes or single quotes
name = "Francesco"
age = 34
pi_approx = 3.14
f_string = f'{name} is {age} years old'
print(f'{name} is {age} years old\n')

# Object type
print(f'Object "name" is of type {type(name)}')
print(f'Object "age" is of type {type(age)}')
print(f'Object "pi_approx" is of type {type(pi_approx)}\n')

# String concatenation
print("The following print results from the concatenation of two strings:")
print("Hello " + "World")
print()

# Split a string over several lines by using triple quotes, and escape the return character with \
split_string = """This string \
has been split \
(in the source code) \
over several \
lines
"""
print(split_string)

# End a print with a custom character at the end
new_string = "Hello World"
print(new_string, end='!\n')
# Strings are sequences (sequences are similar to C arrays)
# Sequences can be indexed using [], with both positive and negative index
print("Extract the first and the last character from a string")
print(new_string[0], new_string[-1])

a+b = 28, a-b=14, a*b=147, a/b=3.0
Francesco is 34 years old

Object "name" is of type <class 'str'>
Object "age" is of type <class 'int'>
Object "pi_approx" is of type <class 'float'>

The following print results from the concatenation of two strings:
Hello World

This string has been split (in the source code) over several lines

Hello World!
Extract the first and the last character from a string
H d

# New Section